* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat";
  height: 100vh;
  background-image: url("./images/bg.png");
  background-size: cover;
}

/* -------------------------------------------------------------------------------------- ACCUEIL */

.body-home {
  height: 100vh;
  width: 100vw;
}

.body-home .divImg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-home img {
  width: 100%;
  height: 100%;
}

.body-home .divImgTablet {
  display: none;
}

.body-home .divImgMobile {
  display: none;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  body {
    background-image: url("./images/bg-tablet.png");
  }

  .body-home .divImg {
    display: none;
  }

  .body-home .divImgTablet {
    display: block;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  body {
    background-image: url("./images/bg-mobile.png");
  }

  .body-home .divImg {
    display: none;
  }

  .body-home .divImgTablet {
    display: none;
  }

  .body-home .divImgMobile {
    display: block;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* -------------------------------------------------------------------------------------- NAVBAR */

.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.navbar a {
  color: black;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  font-family: "Alice";
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li a:hover {
  color: #d3d3d3;
  transition-duration: 0.5s;
}

.navbar .nav-links ul li.active a {
  color: #213b6b;
  font-weight: 600;
}

.navbar .menu-hamburger {
  display: none;
  width: 35px;
  position: absolute;
  top: 50px;
  right: 50px;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
  }

  .navbar a {
    color: black;
  }

  .navbar .logo a {
    color: black;
  }

  .navbar .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .navbar .menu-hamburger {
    display: block;
    z-index: 1;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 440px) {
  .navbar .menu-hamburger {
    display: block;
    right: 20px;
  }

  .navbar .logo a {
    color: black;
  }

  .navbar a {
    color: black;
  }

  .navbar .logo {
    left: 20px;
  }
}

/* -------------------------------------------------------------------------------------- INSCRIPTION */

.body-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
}

form {
  background: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  height: auto;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

p {
  color: black;
  font-weight: 500;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input {
  background: transparent;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 250px;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin-bottom: 2em;
}

input:hover,
input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Montserrat";
}

::placeholder {
  color: black !important;
  font-family: "Montserrat";
}

.error {
  color: red;
}

.success {
  color: #008000;
}

.drop {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}

.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}

.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}

.drop-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}

.drop-4 {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}

.drop-5 {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}

.spinner {
  margin-bottom: 10px;
}

.spinner-img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 700px), (max-height: 900px) {
  body {
    height: 110vh;
  }

  form {
    padding: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .drop-1 {
    display: none;
  }

  .drop-2 {
    bottom: 20px;
    right: 255px;
    z-index: -1;
  }

  .drop-3 {
    display: none;
  }

  .drop-4 {
    top: 15px;
    right: 20px;
    z-index: -1;
  }

  .drop-5 {
    bottom: 129px;
    left: 131px;
    z-index: -1;
  }

  .spinner-img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 375px), (max-height: 750px) {
  body {
    height: 110vh;
  }

  .spinner-img {
    width: 30px;
    height: 30px;
  }

  form {
    padding: 1rem;
    width: 230px;
  }

  p {
    font-size: 0.8rem;
  }

  input {
    width: 200px;
  }

  input[type="submit"] {
    width: 100px;
    font-size: 0.7rem;
  }

  ::placeholder {
    font-size: 0.7em;
  }

  .drop-1 {
    display: none;
  }

  .drop-2 {
    bottom: 20px;
    right: 170px;
    z-index: -1;
  }

  .drop-3 {
    display: none;
  }

  .drop-4 {
    top: 15px;
    right: 20px;
    z-index: -1;
  }

  .drop-5 {
    bottom: 123px;
    left: 77px;
    z-index: -1;
  }
}

/* -------------------------------------------------------------------------------------- CONTACT */

.form-contact {
  background: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  height: auto;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.link-contact {
  color: inherit;
  text-decoration: underline;
}

.link-contact:hover,
.link-contact-tel:hover {
  color: #79d2e6;
  transition: all 0.3s;
}

textarea {
  background: transparent;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 250px;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin-bottom: 2em;
}

textarea:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px), (max-height: 900px) {
  .form-contact {
    padding: 1rem;
  }
}

@media screen and (max-width: 375px), (max-height: 750px) {
  textarea {
    width: 200px;
  }
}

/* -------------------------------------------------------------------------------------- CONTACT TELEPHONE */

.div-tel {
  background: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  height: 300px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.p-titre {
  color: black;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.link-contact-tel {
  color: inherit;
}

.drop-2-tel {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}

@media screen and (max-width: 700px), (max-height: 900px) {
  .container {
    margin-top: 150px;
  }
}

@media screen and (max-width: 375px), (max-height: 750px) {
  .container {
    margin-top: 100px;
  }
}

/* -------------------------------------------------------------------------------------- PLAN */

iframe {
  width: 90%;
  height: 75%;
  border-radius: 20px;
}

.body-home .divIframe {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px), (max-height: 900px) {
  iframe {
    margin-top: 50px;
  }
}

@media screen and (max-width: 375px), (max-height: 750px) {
  iframe {
    margin-top: 100px;
  }
}
